# Data Engineering - ETL Process

## Objectives

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

## Imports

Import any additional libraries you may need here.

In [1]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section.

In [2]:
# !wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
# !wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
# !wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

## Extract

### JSON Extract Function

This function will extract JSON files in the directory.

In [3]:
def extract_from_json(file_to_process):
    '''Function to read JSON file
    
    Parameter
    ----------
    file_to_process: str. Name of the JSON data.
    
    Returns
    --------
    dataframe: Pandas DataFrame. DataFrame of the JSON file.
    '''
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [4]:
columns=['Name', 'Market Cap (US$ Billion)']

In [9]:
def extract():
    '''Function to extract JSON file in the directory and
    load them into a Pandas DataFrame'''

    # Check for all JSON files in the directory
    for json_file in glob.glob('*.json'):
        # Read each file
        # In this case, there is only one JSON file.
        df = extract_from_json(json_file)    
        # filter the DataFrame to show the necessary columns
        df = df[columns]
        
    return df

# check
df = extract()
df

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [33]:
# Write your code here
csv_df = pd.read_csv('exchange_rates.csv', index_col=0)
exchange_rate = csv_df.loc['GBP'].values[0]
print(exchange_rate)

0.7323984208000001

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [26]:
def transform(exchange_rate, data):
    '''Transform the market cap data to a different currency rate. In this instance, 
    from dollars (USD) to pounds (GBP)
  
    Parameters
    -----------
    exchange_rate: float, the exchange rate value that will be used for conversion.
                    Exchange rate for GBP
    data: Pandas DataFrame, data with the column 'Market Cap (US$ Billion)' 
                    that will be transformed to 'Market Cap (GBP$ Billion)'
    Returns
    -------
    data: Pandas DataFrame, transformed DataFrame
    '''
    # Write your code here
    data['Market Cap (US$ Billion)'] = data['Market Cap (US$ Billion)'] * exchange_rate
    data['Market Cap (US$ Billion)'] = round(data['Market Cap (US$ Billion)'], 3)
    data.rename({'Market Cap (US$ Billion)': 'Market Cap (GBP$ Billion)'}, inplace=True)
    return data

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [16]:
def load(transformed_data, filename='bank_market_cap_gbp.csv'):
    '''Function that takes transformed data and loads it to a CSV file
    
    Parameters
    ----------
    transformed_data: Pandas DataFrame, this is the data to be stored into CSV file
    filename: str, name of the csv file. Default value is bank_market_cap_gbp.csv
    '''
    # Remove index from the csv file
    transformed_data.to_csv(filename, index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [17]:
def log(message):
    '''Function to log the time of each of the ETL process
     and store the log data in a file'''
    # define the date and time format
    timestamp_format = '%Y-%m-%d-%H:%M:%S'
    # get current time
    now = datetime.now()
    timestamp = now.strftime(timestamp_format)
    with open('log_file.txt', 'a') as file:
        file.write(message + ", " + timestamp + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [18]:
log("ETL Job Started")

log("Extract Phase Started")
# Call the extract() function
df = extract()
# Print the rows here
print(df.head())
log("Extract Phase Ended")

log("Transform Phase Started")
# Call the transform() function
transformed_df = transform(exchange_rate, df)
print(transformed_df.head())
log("Transform Phase Ended")

log("Load Phase Started")
load(transformed_df)
log("Load Phase Ended")

log("ETL Job Ended")

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).